.header{
    position: sticky;
    z-index:100;
    top:0;
}
.header_top{
    height:60px;
    background-color:white;
    font-size: 14px;
    display:flex;
    color:white;
    padding-right: 8px;
    padding-bottom:8px;
}
.header_menu{
    display:flex;
    padding: 10px 8px 8px 8px;
    width:100%;
    margin-top:8px;
}
.header_menu > div{
    margin:8px;
}
.header_menu_icon > mat-icon{
    font-size:30px;
    align-items:center;
    color:black;
}
.header_menu_logo{
    width:100px;
    top: 10px;
}

.header_menu_signin{
    padding:15px;
    display:flex;
    flex-direction: column;
    color:black;
}
.header_menu_input{
    height:20px;
    padding:10px;
    border:none;
    width:100%;
    background-color:rgb(253, 227, 230);
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.header_menu_cart{
    display:flex;
    margin-left:8px;
    height:50px;
    justify-content: space-around;  
    color:black;
    margin-top:14px;
}
.header_menu_cart > mat-icon{
    margin-top:2px;
}
.header_menu_searchbar{
    display:flex;
    margin-top:8px;
    height:10px;
    justify-content:center;
    flex:1;
}
.header_menu_searchbar > mat-icon{
    height:40px;
    width:40px;
    color:black;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:rgb(253, 227, 230);
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
.header_cart_number{
    color:blue;
    font-size:20px;
    font-weight:800;
    margin-top:4px;
}

.header_menu_top_item{
    font-size: 15px;
    color:black;
}
