<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <img src="https://assets.ajio.com/static/img/Ajio-Logo.svg" alt="logo" class="header_menu_logo" alt="logo"
        class="header_menu_logo">
      <div class="header_menu_signin">
        <span class="header_menu_top_item">MEN</span>
      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">WOMEN</span>
      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">KIDS</span>
      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">INDIE</span>
      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">HOME AND KITCHEN</span>
      </div>
      <div class="header_menu_signin">
        <span class="header_menu_top_item">NEW ARRIVALS</span>
      </div>

      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input" placeholder="search AJIO">
        <mat-icon>search</mat-icon>
      </div>
      <div class="header_menu_icon">
        <mat-icon>menu</mat-icon>
      </div>
      <div class="header_menu_cart">
        <mat-icon>card_travel</mat-icon>
        <p class="header_cart_number">{{shoppingCart.getCartLength()}}</p>
      </div>
    </div>
  </nav>
</div>